.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.search_input {
    flex-basis: 75%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
}
.search_input::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 24px;
    height: 20px;
    background-image: url("../assets/icon-search.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
/* .err_msg {
    position: absolute;
    top: -20px;
    display: none;
    width: max-content;
    color: crimson;
    font-size: .9rem;
}
.active {
    display: inline-block;
} */
input {
    width: 100%;
    padding: 0;
    font-size: 13px;
    color: var(--text-primary);
    border: none;
    background-color: var(--bg-secondary);
    outline: none;
}
input::placeholder {
    color: var(--text-primary);
}
.btn-search {
    min-width: 76px;
    padding: 12px 16px;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: bold;
    background-color: var(--btn-primary);
    border: none;
    border-radius: 10px;
}
.btn-search:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
}
.btn-search:active {
    transform: scale(0.975);
}

@media (min-width: 768px) {
    .search_input {
        padding-left: .8rem;
    }
    input {
        font-size: 18px;
    }
    .btn-search {
        padding: 14px 28px;
        font-size: 16px;
    }
}